@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-open-sans), sans-serif;
  }
}

.small-caps {
  font-variant: small-caps;
  letter-spacing: 0.05em;
}

.terms-of-service h2[id],
h3[id] {
  scroll-margin-top: 85px;
}
